<div fxLayoutAlign="center center" fxFlexFill>
<mat-card fxFlex="25" >
    <mat-toolbar color="primary">Enter your Name : </mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <mat-label>FirstName</mat-label>
            <input required matInput id="txtname1" name="FirstName" type="text" ngModel #FirstName="ngModel">
        </mat-form-field>
        <mat-form-field>
            <mat-label>MiddleName</mat-label>
            <input  matInput id="txtname2" name="MiddleName" type="text" ngModel #MiddleName="ngModel">
        </mat-form-field>
        <mat-form-field>
            <mat-label>LastName</mat-label>
            <input required matInput id="txtname3" name="LastName" type="text" ngModel #LastName="ngModel">
        </mat-form-field>
        <button mat-raised-button 
                (click)="Testing()"
                type="submit" 
                
                value="Submit" 
                [disabled]="!f.valid" 
                [ngStyle]="f.valid?{'background-color':'green'}:{'background-color':'red'}">Subit Name
              </button>

              
    </form>
</mat-card>
</div>